.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/cow.gif), url(images/noise.jpg);
  background-repeat: round;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: VHSFont;
  src: url(vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: VHSFont;
  src: url(vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
  font-weight: bold;
}